html,
body {
    height: 100%;
    margin: 0;
    background: black;
}

canvas {
    width: 625px;
    height: 625px;
    border: 1px solid red;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
