body {
    background: rgb(161, 70, 70);
}

canvas {
    background: rgb(58, 6, 6);
}

h3 {
    color: white;
}

.left {
    float: left;
    width: 33.3%;
}

.right {
    float: right;
}

.middle {
    float: left;
    width: 15.6%;
}

.textBox {
    width: auto;
}



