:root {
    --numColFin: 30;
    --numRowFin: 30;
    --innerWidth: 1000px;
    --innerHeight: 1000px;
}

#game {
    display: grid;
    position: absolute;
    width: var(--innerWidth);
    height: var(--innerHeight);
    border: 1px solid black;
    grid-template-columns: repeat(var(--numColFin), 1fr);
    grid-template-rows: repeat(var(--numRowFin), 1fr);
}

html,
body {
    margin: 0;
    background-color: beige;
}

.box {
    font-size: 10px;
    text-align: center;
    width: 10px;
    height: 10px;
}

